# The number of milliseconds of each tick
# Zookeeper服务器心跳时间，单位为 ms
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
# 投票选举新leader的初始化时间
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
# leader与follower心跳检测最大容忍时间，响应超过syncLimit*tickTime,leader认为
# follower"死掉"，从服务器列表中删除follower
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
# 数据目录
dataDir=/tmp/zookeeper
# the port at which the clients will connect
# Zookeeper对外服务端口
clientPort=2181
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
# 日志目录
dataLogDir=/home/hadoop/zookeeper/log
# server.A=B:C:D A是数字代表服务器编号（即是myid文件里面的值）；
# B代表服务器的ip地址；C表示服务器与集群中的leader服务器交换信息交换信息的端口
server.1=slave1:2888:3888
server.2=slave2:2888:3888
server.3=slave3:2888:3888
